<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <app-fectemployee></app-fectemployee>
    </div>
    <div class="col-8">
      <app-storeemployee></app-storeemployee>
       
    </div>
  </div>
  <app-mdf-demo></app-mdf-demo> 
  <button onclick="handleClick()">MyButton</button> 
<div class="row">
  <app-fetch-employees></app-fetch-employees> 
</div>
</div> -->

<div class="container-fluid">

  <div class="text-center">
    <h1>Angular App</h1> <hr />
  </div>
  <div>
    <a routerLink="loadById">Search Employee</a> /
    <a routerLink="loadAll">All Employees</a> /
    <a routerLink="tdf">tdf</a> /
    <a routerLink="mdf">mdf</a> /

  </div>
  <router-outlet></router-outlet>
</div>

